<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Debug with warning</Title>
            <Author>Michael Harris</Author>
            <Shortcut>db</Shortcut>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                <![CDATA[#warning TODO: REMOVE DEBUG CODE]]>
                <![CDATA[\r\n// debug]]>
                <![CDATA[\r\n$Entrypoint$]]>
                <![CDATA[\r\n// debug;$end$]]>
            </Code>
            <Declarations>
                <Literal>
                    <ID>Entrypoint</ID>
                    <ToolTip>Start typing debug code here...</ToolTip>
                </Literal>
            </Declarations>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>