<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Debug with warning</Title>
            <Author>Michael Harris</Author>
            <Shortcut>db</Shortcut>
        </Header>
        <Snippet>
            <Code Language="CSharp" Format="CData">
                <![CDATA[
                #warning TODO: REMOVE DEBUG CODE
                // debug
                $Entrypoint$
                // debug;$end$
                ]]>
            </Code>
            <Declarations>
                <Literal>
                    <ID>Entrypoint</ID>
                    <ToolTip>Start typing debug code here...</ToolTip>
                </Literal>
            </Declarations>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>